<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/bootstrap.css">
    <title>Mon Agenda - Création de Catégorie</title>
</head>
<body>
    <h1 style="color: #375a7f;" > <u>Crée une Catégorie</u> </h1>

    <div style="text-align: center;">
        <form id="categorie" method="POST" action="/create_categorie">
        
            <p>Nom de la catégorie : </p>
            <textarea name="nom_categorie" id="" cols="30" rows="10"></textarea>
            <p>Couleur de la catégorie : </p>
            <input class="form-control form-control-color" name="color" type="color">
            <button type="submit">Valider</button>
            {% if error == True %}
                <p>Vous avez essayer de crée une catégorie qui possède déjà le nom d'une catégorie existante. Veuillez réessayer.</p>
            {% endif %}
        </form>
    </div>
</body>
</html>