<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/bootstrap.css">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/coloris.min.css">
    <title>Mon Agenda - Création de Catégorie</title>
</head>
<body>
    <h1>
        <div class="titre_page">Crée une Catégorie</div>
    </h1>

    <div class="formulaire">
        <form id="categorie" method="POST" action="/create_categorie">
        
            <p class="text-input">Nom de la catégorie :</p>
            <input type="text" class="form-control nom_catego" name="nom_categorie" aria-describedby="emailHelp" placeholder="Nom de la catégorie">

            <p class="text-input">Couleur de la catégorie :</p>
            <input type="text" name="color" value="green" data-coloris>
            
            <p></p>
            <input type="button" class="btn btn-secondary btn-centre" onclick="self.location.href='/create_work'" value="Retour">
            <button type="submit" class="btn btn-primary btn-centre">Valider</button>
            
            {% if error == True %}
                <p>Vous avez essayer de crée une catégorie qui possède déjà le nom d'une catégorie existante. Veuillez réessayer.</p>
            {% endif %}
        </form>
    </div>
    <script type="text/javascript" src="./static/coloris.min.js"></script>
    <script>
        Coloris({
            themeMode: 'dark',
            alpha: false
        });
    </script>
</body>
</html>