<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/bootstrap.css">
    <title>Mon Agenda - Création de Tâches</title>
</head>
<body>
    <h1 style="color: #375a7f;" > <u>Crée une Tâche</u> </h1>

    <form style="display: table-cell; text-align: center; vertical-align: middle; max-width: 40rem;" id="work" method="POST">
            <div style="text-align: center;">
                <div class="form-group mx-auto">
                    <label>Titre de la tâche :</label>
                    <input type="text" class="form-control" name="titre" aria-describedby="emailHelp" placeholder="Enter Title">
                </div>
                <label>Descirption de la tâche :</label>
            <textarea name="descirption" cols="50" rows="3"></textarea>
            <label>Catégorie de la tâche :</label>
            <select name="type" id="">
                {% for categorie in catego %}
                    <option style="background-color: {{ categorie.couleur }}; ">{% print(categorie.nom) %}</option>
                {% endfor %}
            </select>
            <p>Date de la tâche : </p>
            <input type="datetime-local" name="date">
            <button type="submit">Valider</button>
        </div>
    </form>
    <button onclick="self.location.href='/create_categorie'" >Ajouter une catégorie</button> 
  
</body>
</html>